.AboutHPContainer{
    @apply flex flex-col items-center justify-center h-auto  w-full py-10
    md:mt-10
}
.AboutHPContent{
    @apply flex flex-col-reverse w-full  justify-center items-center h-auto px-6
    md:flex-row md:px-0
    md:w-[90%]
    xl:md:w-[70%]
}
.AboutHpLeft{
    @apply flex flex-col w-full h-auto items-center justify-end mt-12
    md:w-[50%] md:mt-0
}
.AboutHpRight{
    @apply flex flex-col w-full h-auto
    md:w-[50%]
}
.AboutHpImg{
    @apply w-full h-auto
    2xl:w-[90%]
}

.AboutHpHeading{
    @apply flex flex-col w-full h-auto items-center justify-center
    md:flex-row
}
.AboutHPIcon{
    @apply w-16 h-16 mb-2
    md:mb-0 md:mr-8
}
.AboutHpHeadingMain{
    @apply flex flex-col w-full h-auto
}
.SubTitleSec{
    @apply flex flex-col w-full h-auto items-start
    md:flex-row
}
.AboutHpTitle{
    font-family: 'Nunito';
    @apply text-[#292930]  font-bold text-4xl mt-4 mb-2 text-center w-full
    md:mt-2 md:text-start md:text-2xl
    xl:text-3xl
}

.AboutHpDesc{
    font-family: 'Noto Sans';
    @apply text-[#555555] font-medium text-sm mt-4 w-full text-start
    md:text-start
}

.AboutHpCardsSec{
    @apply flex flex-col w-full h-auto items-center justify-center mt-2
}
.AboutHpCardContainer{
    @apply flex flex-row w-full h-auto items-center justify-center mt-8
}
.AboutHpCardImgControl{
    @apply flex justify-center items-center w-[4rem] h-[4rem] border rounded-full border-[#D5D5D5] p-2
    sm:w-[4.5rem] sm:h-[4.5rem]
}
.AboutHpCardImg{
    @apply w-[60%] h-auto
    md:w-[50%]
}
.AboutHpCardInfs{
    @apply flex flex-col w-[80%] h-auto items-start justify-center ml-4
    md:w-[80%]
}
.AboutHpCardTitle{
    font-family: 'Nunito';
    @apply text-[#292930]  font-bold text-base text-start mb-1
}
.AboutHpCardDesc{
    font-family: 'Noto Sans';
    @apply text-[#555555] font-medium text-sm text-start mt-1

}