.LocationContainer{
    background: linear-gradient(111.05deg, #E9F7FF 9.66%, #FFDBD5 57.52%, #FFF3CA 103.42%);
    @apply flex flex-col items-center justify-center w-full py-20
}
.LocationContent{
    @apply flex flex-col h-auto items-center w-full justify-center px-6
    md:w-[90%] md:px-0
    xl:w-[70%]
    2xl:w-[60%]
}
.LocationHeading{
    @apply flex flex-col w-full h-auto items-center
    md:flex-row
}
.LocationIcon{
    @apply w-16 h-16  mb-4
    md:mb-0 md:mr-8
}
.LocationHeadingMain{
    @apply flex flex-col w-full h-auto items-center
}
.LocationHeadingMain div{
    @apply flex flex-col w-full h-auto items-center justify-between space-y-4
    md:flex-row md:space-y-0
}
.LocationHeadingTitle{
    font-family: 'Nunito';
    @apply text-[#292930]  font-bold text-3xl mt-4 text-center w-full
    md:mt-2 md:w-[70%]  md:text-start
    xl:md:text-4xl 2xl:w-[60%]
}

.LocationCardsContent{
    @apply flex flex-col w-full h-auto items-center justify-around mt-10 flex-wrap
    md:flex-row
}