.OurTeamContainer{
    @apply flex flex-col items-center justify-center w-full py-10 px-6
    md:px-0 md:py-16
}
.OurTeamContent{
    @apply flex flex-col items-center justify-center w-full
    md:w-[80%]
}
.OurTeamIcon{
    @apply w-16 h-16 mb-6;
}
.OurTeamTitle{
    font-family: 'Nunito';
    @apply text-[#292930] font-bold text-3xl mt-4 text-center w-full
    xl:md:text-4xl
}
.OurTeamCardsContent{
    @apply flex flex-row flex-wrap justify-center items-center w-full mt-10
}